<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>

  <div class="profile-container">
    <h1>User Profile</h1>
    <img
      src="<%= user.profilePicture || '/default-profile.png' %>"
      class="profile-picture"
/>
    
<% if (user) { %>
  <h2 id="h2-wlc">Welcome, <%= user.name || user.username %></h2>
  <% } %>
  
  </div>

  <div class="form-container">
    <h3 id="h3-update">Update Profile Picture</h3>
    <form
      action="/profile-picture/upload"
      id="test"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" id="image-input" name="profilePicture" accept="image/*" required />
      <button type="submit" id="submit-upload">Upload</button>
    
<div id="profile-info">
  <p><strong>Name:</strong> <%= user.name %></p>
  <p><strong>Age:</strong> <%= user.age %></p>
  <p><strong>Gender:</strong> <%= user.gender %></p>
  <p><strong>CPR ID:</strong> <%= user.cprId %></p>




</div>
</form>
    </div>
  </body>
