<head>
  
  <title>Patients List</title>
</head>

<body>




    <%- include('../partials/_navbar.ejs') %>
  <h1>Patient List</h1>

  <% if (user.role === 'Admin') { %>
  <a href="/patients/new" class="button">Add New Patient</a>
  <% } %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Department</th>
        <% if (user.role === 'Admin') { %>
        <th>Actions</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% patients.forEach(patient => { %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.department.name %></td>
        <% if (user.role === 'Admin') { %>
        <td>
          <a href="/patients/<%= patient._id %>"
            
            >View</a>
          <a href="/patients/<%= patient._id %>/edit">Edit</a>
          <form
            action="/patients/<%= patient._id %>?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button type="submit">Delete</button>
          </form>
        </td>
        <% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>
