<body>
    <%- include('../partials/_navbar.ejs') %>
<h1>Here's all the Patients</h1>
<ul>
    <% patients.forEach((patient) => { %>
      <li>
        Name: <%= patient.name %> | Age: <%= patient.age %> | Gender: <%= patient.gender %>
        <a href="/patients/<%= patient._id %>">Details</a>
      </li>
    <% }) %>
  </ul>
<a href="/patients/new">Add a new Patient</a>

</body>