<head>
  <title>Create New Patient</title>
</head>

<body>
  <h1>Create New Patient</h1>
  <form action="/patients" method="POST">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required />

    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
      <option value="" disabled selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>

    <label for="cprId">CPR ID:</label>
    <input type="text" id="cprId" name="cprId" required />

    <label for="department">Department:</label>
    <select id="department" name="department" required onchange="updateDescription()">
      <option value="" disabled selected>Select a Department</option>
      <% departments.forEach(department => { %>
      <option value="<%= department._id %>" data-description="<%= department.description %>">
        <%= department.name %>
      </option>
      <% }); %>
    </select>

    <p id="departmentDescription" style="margin-top: 10px; font-style: italic; color: #555">
      Select a department to see its description.
    </p>

    <label for="urgencyLevel">Urgency Level:</label>
    <select id="urgencyLevel" name="urgencyLevel" required>
      <option value="" disabled selected>Select Urgency Level</option>
      <% urgencies.forEach(urgency => { %>
      <option value="<%= urgency._id %>"><%= urgency.level %></option>
      <% }); %>
    </select>

    <button type="submit">Submit</button>
  </form>

  <script>
    function updateDescription() {
      const departmentSelect = document.getElementById('department')
      const selectedOption =
        departmentSelect.options[departmentSelect.selectedIndex]
      const description =
        selectedOption.getAttribute('data-description') ||
        'No description available'
      document.getElementById('departmentDescription').innerText = description
    }
  </script>
</body>