<head>
  <title>Patient Details</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>Patient Details</h1>

  <p><strong>Name:</strong> <%= patient.name %></p>
  <p><strong>Age:</strong> <%= patient.age %></p>
  <p><strong>Gender:</strong> <%= patient.gender %></p>
  <p><strong>CPR ID:</strong> <%= patient.cprId %></p>
  <p>
    <strong>Department:</strong> <%= patient.department.name %> - <%=
    patient.department.description %>
  </p>
  <p><strong>Urgency Level:</strong> <%= patient.urgencyLevel.level %></p>
  <p><strong>Created By:</strong> <%= patient.userId.username %></p>
  <p><strong>Created At:</strong> <%= patient.createdAt.toLocaleString() %></p>
  <p>
    <strong>Last Updated:</strong> <%= patient.updatedAt.toLocaleString() %>
  </p>
  <% if (user && user.role === 'Admin') { %>
  <a href="/patients/<%= patient._id %>/edit">Edit</a>
  <form
    action="/patients/<%= patient._id %>?_method=DELETE"
    method="POST"
    style="display: inline"
  >
    <button type="submit">Delete</button>
  </form>
  <% } %>

  <a href="/patients">Back to List</a>
</body>
