<body>
    <%- include('../partials/_navbar.ejs') %>


    <h1> patients <%= patient.patientName %></h1>


    <h2>Patient details</h2>
    <ul>
    <li> Name: <%= patient.patientName %></li>
    <li>Age: $<%= patient.age %></li>
    <li>cpr ID: <%= patient.cprId %></li>
    <li><%= patient.gender %></li>
    <li>Department: <%= patient.department %></li>
    <li>Urgency Level: <%= patient.urgencyLevel %></li>
    </ul>
    
    <a href="/patients/<%= patient._id %>/edit">Edit Information</a>
    
    <form action="/patients/<%= patient._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete the Patient</button>
    </form>
    <%  %>


</body>

