<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Patient Details</title>
</head>

<body class="page" id="show-page">
  <%- include('../partials/_navbar.ejs') %>
<div class="Details-page">
  <h1 id="h1-details">Patient Details</h1>
<div id="all-details">
  <p><strong>Name:</strong> <%= patient.name %></p>
  <p><strong>Age:</strong> <%= patient.age %></p>
  <p><strong>Gender:</strong> <%= patient.gender %></p>
  <p><strong>CPR ID:</strong> <%= patient.cprId %></p>
  <p>
    <strong>Department:</strong> <%= patient.department.name %> - <%=
    patient.department.description %>
  </p>
  <p><strong>Urgency Level:</strong> <%= patient.urgencyLevel.level %></p>
  <p><strong>Created By:</strong> <%= patient.userId.username %></p>
  <p><strong>Created At:</strong> <%= patient.createdAt.toLocaleString() %></p>
  <p>
    <strong>Last Updated:</strong> <%= patient.updatedAt.toLocaleString() %>
  </p>
</div>
  
  <% if (user && user.role === 'Admin') { %>
  <a href="/patients/<%= patient._id %>/edit" id="view-edit-link">Edit</a>
  <form
    action="/patients/<%= patient._id %>?_method=DELETE"
    method="POST"
    style="display: inline"
  >
    <button type="submit" id="view-delete-botton">Delete</button>
    <a href="/patients" id="view-back-link">Back to List</a>
  </form>
  <% } %>


</div>
</div>
</body>
